body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.timer-container {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timer {
    display: flex;
    justify-content: center;
}

.time {
    font-size: 2rem;
    margin: 0 20px;
}

span {
    display: block;
}